/* Enter your custom styles here */

/* .w3-backGround {
    background-image: url("/model/pink.jpg");
   
    } */
.text{
text-align: center;
text-decoration-style: solid;
text-decoration-line: underline;

    }
.img{
text-align: center;

}    
    